<div class="row justify-content-center header">
  <div class="col-10" style="padding:0px;">
    <img class="img-fluid" style="width: 18%" src="../assets/logo-pakke-bco.svg">
  </div>
</div>

<div class="container content">
  <div class="row justify-content-between">
    <div class="col-6 col-lg-3 data-row">
      <div class="column">
        <span class="title">PESO:</span>
        <h1 class="value">{{weight}}kg</h1>
      </div>
    </div>
    <div class="col-6 col-lg-3 data-row">
      <div class="column">
        <span class="title">COSTO:</span>
        <h1 class="value">{{pakkePrice | currency}}</h1>
      </div>
    </div>
    <div class="col-12 col-lg-6 data-row">
      <div class="column">
        <span class="title">COSTO PAQUETEARÍA:</span>
        <h1 class="value">{{price | currency}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-end label">
  <div class="col-12 col-lg-7 box">
    <span class="title-big">% DE AHORRO</span>
    <h1 class="title-big-x3">{{percent | number : '1.1'}}%</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <img class="img-fluid boxes" src="../assets/aeroflash-logo-white.png">
  </div>
  <div class="col-6 col-lg-3 data-row places">
    <div class="column">
      <span class="title-place">ORIGEN:</span>
      <h1 class="value">CDMX</h1>
    </div>
  </div>
  <div class="col-6 col-lg-3 data-row places">
    <div class="column">
      <span class="title-place">DESTINO:</span>
      <h1 class="value">CUN</h1>
    </div>
  </div>
</div>

<!-- <div class="row justify-content-end fixed-bottom footer">
  <div class="col-10" style="padding-right: 50px;">
    <div class="row justify-content-end">
      <div class="col-1 text-center content">
        <img class="img-fluid center-block" src="../assets/fedex-logo-white.png">
      </div>
      <div class="col-1 text-center content">
        <img class="img-fluid center-block" src="../assets/ups-logo-white.png">
      </div>
      <div class="col-2 text-center content">
        <img class="img-fluid center-block" src="../assets/estafeta-logo-white.png">
      </div>
      <div class="col-2 text-center content">
        <img class="img-fluid center-block" src="../assets/aeroflash-logo-white.png">
      </div>
      <div class="col-2 text-center content">
        <img class="img-fluid center-block" src="../assets/dhl-logo-white.png">
      </div>
    </div>
  </div>
</div> -->