<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Cotizador V2.4</h3>
    </div>
  </div>
  <br>
  <form [formGroup]="guide" (ngSubmit)="sendGuide()">
    <div class="row">
      <div class="col-12 col-sm-4">
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Peso" formControlName="weight">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-4">
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Origen" formControlName="origin_zipcode">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-4">
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Destino" formControlName="destiny_zipcode">
        </mat-form-field>
      </div>
    </div>
    <div class="row" formGroupName="courrier_services">
      <div class="col-12 col-sm-6">
        <mat-form-field class="full-width">
          <mat-select placeholder="Servicio" formControlName="name" (selectionChange)="courrierChanged()">
            <mat-option value="STF">
              Estafeta      
            </mat-option>
            <mat-option value="AEF">
              Aeroflash
            </mat-option>
            <mat-option value="DHL">
              DHL
            </mat-option>
            <mat-option value="99Minutos">
              99 Minutos
            </mat-option>
            <mat-option value="FDX">
              Fedex
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div class="col-12 col-sm-6">
        <mat-form-field class="full-width">
          <mat-select placeholder="Courrier" formControlName="type" multiple>
            <mat-option *ngFor="let service of services" [value]="service.value">
              {{service?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <!-- <div class="text-right">
          <label style="color: gray; font-size: 1rem;">Dejar vació el servicio para cotizar todos</label>
        </div>         -->
      <!-- </div> -->
    </div>
    <div class="row justify-content-end">
      <div class="col col-sm-4">
        <button class="btn btn-primary btn-block" type="submit">Cotizar</button>
      </div>
    </div>
    <div class="row" *ngIf="response?.result[0]?.success">
      <div class="col-12">
        <h4>{{response?.result[0]?.courrier}}</h4>
        <h6 *ngIf="response?.result[0]?.delivery_day">Fecha de entrega: <b>{{response?.result[0]?.delivery_day | date}}</b></h6>
        <div class="row" *ngFor="let item of prices">
          <div class="col-12">
             {{item | titlecase}} <span *ngIf="item == 'ESTAFETA_TERRESTRE_CONSUMO'">({{getProperty(response?.result[0]?.price[item].options)}} - {{response?.result[0]?.price[item].options?.cuenta}})</span> - <span *ngIf="response?.result[0]?.price[item] == 'Error, para los CPs dados no hay cobertura'">Error, para los CPs dados no hay cobertura</span> <span *ngIf="response?.result[0]?.price[item] >= 0">{{response?.result[0]?.price[item] | currency}}</span>
            <span *ngIf="response?.result[0]?.price[item].price"> {{response?.result[0]?.price[item].price | currency}} <span *ngIf="!response?.result[0]?.price[item].options?.DIA_SIG && response?.result[0]?.price[item].options?.adicional "> => {{ response?.result[0]?.price[item].price - response?.result[0]?.price[item].options?.adicional * 5.42 | currency }} + {{response?.result[0]?.price[item].options?.adicional * 5.42 | currency}} por kilos extra</span></span>
            <p *ngIf="response?.result[0]?.courrier == 'STF'">Fecha de entrega: {{response?.result[0]?.price[item].delivery_day | date}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="response && !response?.result[0]?.success">
      <div class="col">
        <h5 style="color:red;">{{response?.result[0]?.message}}</h5>
      </div>
    </div>
  </form>
</div>