<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Cotizador</h3>
    </div>
  </div>
  <br>
  <form [formGroup]="guide" (ngSubmit)="sendGuide()">
    <div class="row">
      <div class="col-12 col-sm-4">
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Peso" formControlName="weight">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-4">
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Origen" formControlName="origin_zipcode">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-4">
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Destino" formControlName="destiny_zipcode">
        </mat-form-field>
      </div>
    </div>
    <div class="row" formGroupName="courrier_services">
      <div class="col-12 col-sm-6">
        <mat-form-field class="full-width">
          <mat-select placeholder="Servicio" formControlName="name" (selectionChange)="courrierChanged()">
            <mat-option value="Estafeta">
              Estafeta      
            </mat-option>
            <mat-option value="Aeroflash">
              Aeroflash
            </mat-option>
            <mat-option value="DHL">
              DHL
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-6">
        <mat-form-field class="full-width">
          <mat-select placeholder="Courrier" formControlName="type" multiple>
            <mat-option *ngFor="let service of services" [value]="service.value">
              {{service?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div class="text-right">
          <label style="color: gray; font-size: 1rem;">Dejar vació el servicio para cotizar todos</label>
        </div>         -->
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col col-sm-4">
        <button class="btn btn-primary btn-block" type="submit">Cotizar</button>
      </div>
    </div>
    <div class="row" *ngIf="response?.result[0]?.success">
      <div class="col-12">
        <h4>{{response?.result[0]?.courrier}}</h4>
        <h6>Fecha de entrega: <b>{{response?.result[0]?.delivery_day | date}}</b></h6>
        <div class="row" *ngFor="let item of prices">
          <div class="col-12">
             {{item | titlecase}} - <span *ngIf="response?.result[0]?.price[item] >= 0">{{response?.result[0]?.price[item]?.price | currency}}</span>
            <span *ngIf="response?.result[0]?.price[item].price"> {{returnService(item)}} - {{response?.result[0]?.price[item].price | currency}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="response && !response?.result[0]?.success">
      <div class="col">
        <h5 style="color:red;">{{response?.result[0]?.message}}</h5>
      </div>
    </div>
  </form>
</div>