.success-header {
  font-weight: 700;
  color: #2FB059;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.mat-icon.success-icon {
  width: 70px !important;
  height: 70px !important;
}

.material-icons {
  font-size: 70px !important;
}

.banner-label {
  background-color: #f5f5f5
}

.padding {
  padding-left: 25px;
  padding-right: 25px;
}

.tittle {
  font-weight: 600;
  color: black;
  padding-left: 0px !important;
  font-size: 1rem !important;
}

.service {
  font-weight: 700;
  color: gray;
  padding-left: 0px !important;
  size: 1.2rem !important;
}

.mat-icon.small-icon {
  width: 17px !important;
  height: 17px !important;
}
