<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white fixed-top" [containerInside]="true">
    <logo>
        <a href="#" class="navbar-brand"><img class="img-responsive" href="http://pakke.mx/" src="http://pakke.mx/img/logo-pakke-color.svg"/></a>
    </logo>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light link" href="http://pakke.mx/#como-funciona" mdbWavesEffect>¿Cómo funciona?</a>
            </li>
            <mat-divider [vertical]="true" style=""></mat-divider>
            <li class="nav-item">
                <a class="nav-link waves-light link" href="http://pakke.mx/#beneficios" mdbWavesEffect>Beneficios</a>
            </li>
            <mat-divider [vertical]="true" style=""></mat-divider>
            <li class="nav-item">
                <a class="nav-link waves-light link" href="http://pakke.mx/#clientes" mdbWavesEffect>Clientes</a>
            </li>
            <mat-divider [vertical]="true" style=""></mat-divider>
            <li class="nav-item">
                <a class="nav-link waves-light link" href="http://pakke.mx/#precio" mdbWavesEffect>Precio</a>
            </li>
            <mat-divider [vertical]="true" style=""></mat-divider>
            <li class="nav-item">
                <a class="nav-link waves-light link" href="http://pakke.mx/#desarrolladores" mdbWavesEffect>Desarrolladores</a>
            </li>
            <mat-divider [vertical]="true" style=""></mat-divider>
            <li class="nav-item">
                <a class="nav-link waves-light link" href="http://pakke.mx/#contacto" mdbWavesEffect>Contacto</a>
            </li>
            <li class="nav-item" style="margin-left:15px;">
              <a style="font-weight: 300;" href="https://seller.pakke.mx/#/login" mat-raised-button color="primary" class="btn btn-rounded" mat-button>Registrate</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
