<div class="fixed-top">
  <div class="row contact-row static-top" style="padding-bottom:8px;">
    <div class="container first-header">
      <div class="row">
        <div class="col-5">
          <mat-icon class="vertical-align-middle padding-bottom-3" matPrefix>phone</mat-icon>&nbsp;&nbsp;<a href="tel:+01552629 9848" style="vertical-align: middle; text-decoration: none; color: #E3B2FF; font-weight: 400;">+52 (55) 2629 9848</a>
        </div>
        <div class="col-7 text-right" style="margin-top:7px!important; font-size:12px;">
          <a href="https://seller.pakke.mx/login" target="_blank" style="text-decoration: none;color: #E3B2FF;"><span class="upper-link">Iniciar sesión</span></a>
          <a href="http://help.pakke.mx/" target="_blank" style="text-decoration: none;color: #E3B2FF;"><span class="upper-link">Ayuda</span></a>
          <a href="http://docs.pakke.mx/" target="_blank" style="text-decoration: none;color: #E3B2FF;"><span class="upper-link-last">Documentación</span></a>
        </div>
      </div>
    </div>
  </div>
  <mdb-navbar SideClass="navbar navbar-expand-md navbar-light white" [containerFluidnside]="true">
      <logo>
          <a href="http://pakke.mx/" class="navbar-brand"><img class="img-responsive" href="http://pakke.mx/" src="http://pakke.mx/img/logo-pakke-color.svg"/></a>
      </logo>
      <links>
          <ul class="navbar-nav ml-auto" style="color: #888888; padding-top:10px; padding-bottom:10px;">
              <li class="nav-item">
                  <a target="_blank" class="nav-link waves-light link divide" href="http://pakke.mx/#como-funciona" mdbWavesEffect>¿Cómo funciona?</a>
              </li>
              <li class="nav-item">
                  <a target="_blank" class="nav-link waves-light link divide" href="http://pakke.mx/#beneficios" mdbWavesEffect>Beneficios</a>
              </li>
              <li class="nav-item">
                  <a target="_blank" class="nav-link waves-light link divide" href="http://pakke.mx/#clientes" mdbWavesEffect>Clientes</a>
              </li>
              <li class="nav-item">
                  <a target="_blank" class="nav-link waves-light link divide" href="http://pakke.mx/#precio" mdbWavesEffect>Precio</a>
              </li>
              <li class="nav-item">
                  <a target="_blank" class="nav-link waves-light link divide" href="http://pakke.mx/#desarrolladores" mdbWavesEffect>Desarrolladores</a>
              </li>
              <li class="nav-item">
                  <a target="_blank" class="nav-link waves-light link last" href="http://pakke.mx/#contacto" mdbWavesEffect>Contacto</a>
              </li>
              <li class="nav-item" style="margin-left:15px;">
                <a style="font-weight: 300; font-size: .9rem !important; padding-right: 20px; padding-left: 20px;" href="https://seller.pakke.mx/#/login" mat-raised-button color="primary" class="btn btn-rounded" mat-button>Registrate</a>
              </li>
          </ul>
      </links>
  </mdb-navbar>
</div>
<br />
