.link {
  font-size: .875rem !important;
  color: #888888 !important;
  margin-top: 8px;
}

.navbar {
  padding:50px !important;
}

.divide {
  border-right: 1px solid rgba(150, 150, 150, 0.3);
  line-height: 2px;
}

.last {
  border-right: 0px solid rgba(150, 150, 150, 0.3);
  line-height: 2px;
}

.mat-raised-button {
  font-weight: 500 !important;
}

.contact-row {
  background-color: #671289;
}

.first-header{
  color:#E3B2FF;
  font-size: 14px !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.padding-bottom-3 {
  padding-top: 5px;
    padding-bottom: 5px;
}

.upper-link{
  border-right: 1px solid #E3B2FF !important;
  line-height: 2px !important;
  padding-right:10px !important;
  padding-left:10px !important;
}

.upper-link-last{
  line-height: 2px !important;
  padding-left:10px !important;
}
