<footer class="page-footer purple pt-4 mt-4" style="background-image: url('../../assets/footer.jpg'); background-repeat: repeat; background-position: top left; background-size: contain;">

  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left" style="padding-left:30px;">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10">
      <div class="row" style="padding-top: 25px;">
          <div class="col-md-6">
              <img class="img-fluid" src="http://pakke.mx/img/logo-pakke-bco.svg"/>
              <p style="margin-top:10px; font-weight: 100; color:#E3B2FF;">Conoce las soluciones que tenemos para ti.</p>
              <div class="row">
                <div class="col-3 col-sm-2">
                  <img class="img-fluid" src="http://pakke.mx/img/venders-logo.svg"/>
                </div>
                <div class="col-3 col-sm-2">
                  <img class="img-fluid" src="http://pakke.mx/img/ikniu-logo.svg"/>
                </div>
                <div class="col-3 col-sm-2">
                  <img class="img-fluid" src="http://pakke.mx/img/anko-logo.svg"/>
                </div>
                <div class="col-3 col-sm-2">
                  <img class="img-fluid" src="http://pakke.mx/img/etomin-logo.svg"/>
                </div>
              </div>
              <div class="row" style="margin-top:15px;">
                <div class="col-12">
                  <a href="http://help.pakke.mx/aviso-de-privacidad/" title="Consulta nuestro Aviso de privacidad" target="_blank">Aviso de privacidad</a>
                  <a href="http://help.pakke.mx/terminos-y-condiciones/" title="Consulta nuestros Términos y Condiciones" target="_blank" style="margin-left:10px;">Términos y Condiciones</a>
                </div>
              </div>
          </div>
          <div class="col-md-6 text-right" style="color:white">
            <h5 style="margin-top:20px;">¿Dudas? <b>01 (55) 2629 9848</b></h5>
            <h6 style="margin-top:20px;">¡Escríbenos! <b>soporte@pakke.mx</b></h6>
            <h6 style="margin-top:20px;">
              Síguenos
              <a style="padding-left:10px;" href="https://www.facebook.com/pakke.mx" title="Síguenos en Facebook" target="_blank">
                <img alt="Facebook Pakke" src="http://pakke.mx/img/pakke-facebook-footer.svg">
              </a>
              <a style="padding-left:10px;" href="https://twitter.com/pakke_mx" title="Síguenos en Twitter" target="_blank">
                <img alt="Twitter Pakke" src="http://pakke.mx/img/pakke-twitter-footer.svg">
              </a>
              <a style="padding-left:10px;" href="tel:26299848" title="¡Llámanos!" target="_blank">
                <img alt="Teléfono Pakke" src="http://pakke.mx/img/pakke-whatsapp-footer.svg">
              </a>
            </h6>
            <h6 style="margin-top:20px;">Av. Constituyentes 908, Col Lomas Altas C.P. 11950</h6>
          </div>
          <!--/.Second column-->
      </div>
      <div class="row justify-content-center" style="padding-top: 25px;">
        <div class="col-12 col-sm-6 text-center">
            <a style="padding-right:20px;" href="https://www.facebook.com/pakke.mx" title="Síguenos en Facebook" target="_blank">
              <img alt="Facebook Pakke" src="http://pakke.mx/img/pakke-facebook-footer.svg">
            </a>
            <a style="padding-right:20px;" href="https://twitter.com/pakke_mx" title="Síguenos en Twitter" target="_blank">
              <img alt="Twitter Pakke" src="http://pakke.mx/img/pakke-twitter-footer.svg">
            </a>
            <a href="tel:26299848" title="¡Llámanos!" target="_blank">
              <img alt="Teléfono Pakke" src="http://pakke.mx/img/pakke-whatsapp-footer.svg">
            </a>
        </div>
      </div>
      <div class="row justify-content-center" style="padding-top: 10px; padding-bottom:50px;">
        <div class="col-12 col-sm-6 text-center">
          <small>©2018 Pakke. Todos los derechos reservados.</small>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!--/.Footer Links lols😂-->
</footer>
