<footer class="page-footer purple pt-4 mt-4" style="background: linear-gradient(to bottom, #671289, #92247B); margin-top:0px !important; position:relative;; bottom:0; width:100%;">

  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left" style="padding-left:30px;">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10">
      <div class="row justify-content-between" style="padding-top: 25px;">
          <div class="col-12 col-md-4">
              <a href="http://pakke.mx/" target="_blank"><img class="img-fluid" src="http://pakke.mx/img/logo-pakke-bco.svg"/></a>
              <p style="margin-top:10px; font-weight: 100; color:#E3B2FF;">Conoce las soluciones que tenemos para ti.</p>
              <div class="row">
                <div class="col-3 text-center">
                  <a href="http://www.venders.mx/" target="_blank" style="height:80% !important"><img class="img-fluid" style="" src="http://pakke.mx/img/venders-logo.svg"/></a>
                </div>
                <div class="col-3 text-center">
                  <a href="http://www.ikniu.mx/" target="_blank" style="height:70% !important"><img class="img-fluid" src="http://pakke.mx/img/ikniu-logo.svg"/></a>
                </div>
                <div class="col-3 text-center">
                  <a href="" target="_blank" style="height:80% !important"><img class="img-fluid" src="http://pakke.mx/img/anko-logo.svg"/></a>
                </div>
                <div class="col-3 text-center">
                  <a href="http://www.etomin.com/" target="_blank" style="height:80% !important"><img class="img-fluid" src="http://pakke.mx/img/etomin-logo.svg"/></a>
                </div>
              </div>
              <div class="row" style="margin-top:25px; font-size: .8rem !important;">
                <div class="col-12">
                  <a href="http://help.pakke.mx/aviso-de-privacidad/" title="Consulta nuestro Aviso de privacidad" target="_blank"style="border-right: 1px solid white;line-height: 1px; padding-right:25px;">Aviso de privacidad</a>
                  <a href="http://help.pakke.mx/terminos-y-condiciones/" title="Consulta nuestros Términos y Condiciones" target="_blank" style="margin-left:15px;">Términos y Condiciones</a>
                </div>
              </div>
          </div>
          <div class="col-md-6 text-md-right text-sm-center" style="color:white">
            <h5 style="margin-top:20px;">¿Dudas? <a href="tel:+01552629 9848"><b>01 (55) 2629 9848</b></a></h5>
            <h6 style="margin-top:20px;">¡Escríbenos! <a href="mailto:soporte@pakke.mx"><b>soporte@pakke.mx</b></a></h6>
            <h6 style="margin-top:20px;">
              Síguenos
              <a style="padding-left:10px;" href="https://www.facebook.com/pakke.mx" title="Síguenos en Facebook" target="_blank">
                <img alt="Facebook Pakke" src="http://pakke.mx/img/pakke-facebook-footer.svg">
              </a>
              <a style="padding-left:10px;" href="https://twitter.com/pakke_mx" title="Síguenos en Twitter" target="_blank">
                <img alt="Twitter Pakke" src="http://pakke.mx/img/pakke-twitter-footer.svg">
              </a>
              <a style="padding-left:10px;" href="tel:26299848" title="¡Llámanos!" target="_blank">
                <img alt="Teléfono Pakke" src="http://pakke.mx/img/pakke-whatsapp-footer.svg">
              </a>
            </h6>
            <h6 style="margin-top:20px;">Av. Constituyentes 908, Col Lomas Altas C.P. 11950</h6>
          </div>
          <!--/.Second column-->
      </div>
      <div class="row justify-content-center" style="padding-top: 25px;">
        <div class="col-12 col-sm-6 text-center">
            <a style="padding-right:20px;" href="https://www.facebook.com/pakke.mx" title="Síguenos en Facebook" target="_blank">
              <img alt="Facebook Pakke" src="http://pakke.mx/img/pakke-facebook-footer.svg">
            </a>
            <a style="" href="https://twitter.com/pakke_mx" title="Síguenos en Twitter" target="_blank">
              <img alt="Twitter Pakke" src="http://pakke.mx/img/pakke-twitter-footer.svg">
            </a>
        </div>
      </div>
      <div class="row justify-content-center" style="padding-top: 10px; padding-bottom:50px;">
        <div class="col-12 col-sm-6 text-center">
          <small>©2018 Pakke. Todos los derechos reservados.</small>
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>
