<h5 class="tittle" style="margin-bottom:20px;">Tu pedido</h5>
<div *ngIf="service">
  <div class="row" style="margin-bottom:20px;">
    <div class="col-4">
      <img *ngIf="service.CourierCode == 'FDX'" class="img-fluid" src="http://pakke.mx/img/socios/fedex-logo_poster.png"/>
      <img *ngIf="service.CourierCode == 'STF'" class="img-fluid" src="http://pakke.mx/img/socios/estafeta-logo_poster.png"/>
    </div>
    <div class="col-8 service text-right">
      {{service.CourierServiceName}} ({{service.DeliveryDays[0]}} días)
    </div>
  </div>
  <div class="row">
    <div class="col-8" style="color:gray; font-weight:300; ">
      <mat-icon class="vertical-align-middle padding-bottom-3">calendar_today</mat-icon>&nbsp;Entrega apróx.
    </div>
    <div class="col-4" style="color:black; font-weight:700; ">
      <span class="inline-block">{{setEstimatedDate(service.DeliveryDays[0]) | date}}</span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3 text-center" style="color:gray; font-weight:300;">
      <mat-icon class="vertical-align-middle padding-bottom-3" matPrefix>place &nbsp;</mat-icon>&nbsp;Desde
    </div>
    <div class="col-9" style="color:black; font-weight:700; ">
      {{origin}}
    </div>
  </div>
  <div class="row" style="padding-top:20px;">
    <div class="col-3 text-center" style="color:gray; font-weight:300; ">
      <mat-icon class="vertical-align-middle padding-bottom-3" matPrefix>place &nbsp;</mat-icon>&nbsp;Hacia
    </div>
    <div class="col-9" style="color:black; font-weight:700; ">
      {{destiny}}
    </div>
  </div>
  <div class="row" style="padding-top:20px; color:gray; font-weight:300;">
    <div class="col-8">
      <i class="fas fa-weight ertical-align-middle padding-bottom-3"></i>&nbsp;Peso Total
    </div>
    <div class="col-4 text-right" style="color:black; font-weight:700; ">
       {{getWeight(product)}} kg
    </div>
  </div>
  <div class="row" style="padding-top:10px; color:gray; font-weight:300;" *ngIf="service.OverWeightCost">
    <div class="col-8">
      <i class="fas fa-coins ertical-align-middle padding-bottom-3"></i>&nbsp;Costo Sobrepeso
    </div>
    <div class="col-4 text-right" style="color:black; font-weight:700; ">
      {{service.OverWeightCost - (service.OverWeightCost * .16) | currency}}
    </div>
  </div>
  <div class="row" style="padding-top:10px; color:gray; font-weight:300;">
    <div class="col-8">
      <i class="fas fa-money ertical-align-middle padding-bottom-3"></i>&nbsp;Subtotal
    </div>
    <div class="col-4 text-right" style="color:black; font-weight:700; ">
      {{service.TotalCost - (service.TotalCost * .16) | currency}}
    </div>
  </div>
  <div class="row" style="padding-top:10px; color:gray; font-weight:300;">
    <div class="col-8">
      <fa class="vertical-align-middle padding-bottom-3" [name]="'balance-scale '"></fa>&nbsp;IVA
    </div>
    <div class="col-4 text-right" style="color:black; font-weight:700; ">
      {{(service.TotalCost * .16) | currency}}
    </div>
  </div>
  <hr />
  <div class="row" style="padding-top:10px; color:rgb(255,89,89); font-weight:700;">
    <div class="col-6">
      <i class="fas fa-money ertical-align-middle padding-bottom-3"></i>&nbsp;Total a pagar
    </div>
    <div class="col-6 text-right" style="color:rgb(255,89,89); font-weight:700; font-size: 1.2rem;">
      MXN {{service.TotalCost | currency}}
    </div>
  </div>
</div>
<div *ngIf="!service">
  <div class="row">
    <div class="col-12">
      <span class="service">Aún no has seleccionado ningún servicio</span>
    </div>
  </div>
</div>
